{% extends "lab_8/layout/base.html" %}
{% block content %}
<section name="FbLogin" id="lab8">
    <h1 class="text-center">Lab 8</h1>
    <div class="fb-login-button" data-scope="email" onclick="facebookLogin()">Login with Facebook</div>
</section>

{% endblock %}
